{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Create Account</h2>

    <form method="POST">
        <label>Full Name</label>
        <input type="text" name="name" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Account Type</label>

        <div class="radio-group">
            <label>
                <input type="radio" name="type" value="Staff" required>
                Staff
            </label>

            <label>
                <input type="radio" name="type" value="Student">
                Student
            </label>
        </div>


        <button type="submit">Register</button>
    </form>
</div>

{%  endblock %}