{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Create Account</h2>

    <form method="POST">
        <label>Full Name
            <input type="text" name="name" required>
        </label>
        <label>Password
            <input type="password" name="password" required>
        </label>
        <label>Account Type</label>

        <label>Date of Birth
            <input type="date" name="date_of_birth">
        </label>

        <button type="submit">Register</button>
    </form>
</div>

{%  endblock %}